{% extends 'template.html.twig' %}

{% block title %}Parkings index{% endblock %}
{% block PageTitle %}
    <h1>Parkings index</h1>
{% endblock %}
{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Capacité</th>
                <th>Emplacement_geo</th>
                <th>Adresse</th>
            </tr>
        </thead>
        <tbody>
        {% for parking in parkings %}
            <tr>
                <td>{{ parking.id }}</td>
                <td>{{ parking.nom }}</td>
                <td>{{ parking.capacite }}</td>
                <td>{{ parking.emplacementgeo }}</td>
                <td>{{ parking.adresse }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}