{% extends 'template2.html.twig' %}

{% block title %}New Reservation
{% endblock %}

{% block body %}
	<section id="hero" class="hero d-flex align-items-center"></section>
	<div class="container">
		{% for parking in parkings %}
			<div class="d-flex flex-column justify-content-center border rounded-4 p-3 bg-secondary">
				<p>
					Nom :
					{{ parking.nom }}
				</p>
				<p>
					Adresse :
					{{ parking.adresse }}
				</p>
				<p>
					Capacité :
					{{ parking.capacite }}
				</p>
				<button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ parking.id }}" aria-expanded="false" aria-controls="collapseExample">
					Séléctionner
				</button>
				<div class="collapse" id="collapse{{ parking.id }}" style="">
					<div class="card card-body">
						Places disponibles:
						<select type="choice" class="form-select">
							{% for place in places %}
								{% if parking.id == place.parking.id %}
									<option value="{{ place.id }}">{{ place.id }}</option>
								{% endif %}
							{% endfor %}
						</select>
						<button class="btn btn-primary" type="submit">Réserver</button>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>


{% endblock %}
