{% extends 'template2.html.twig' %}

{% block title %}Available Parkings
{% endblock %}

{% block body %}
	<section id="hero" class="hero d-flex align-items-center" style="min-height: 100vh;">
		<div class="container">
			<h1 class="text-center color-black">Available Parkings</h1>
			<div class="row">
				<div class="col-md-8 mx-auto">
					<div class="card rounded-3 border-3">
						{% if not flag %}
							<h3 style="color: black; text-align: center; font-size: 35px" class="my-4">No Parkings found.</h3>
						{% else %}
							{{ form_start(form) }}
							{% for parking in parkings %}
							{% set f = false %}
							{% for place in places %}
								{% if place.parking.id == parking.id and place.type == type %}
									{% set f = true %}
								{% endif %}
							{% endfor %}
							{% if f %}
								{% if distances[parking.nom] <= 5 %}
									<div class="container py-1">
										<div class="card shadow-0 border rounded-3">
											<div class="row">
												<div class="col-md-6 col-lg-6 col-xl-5">
													<div class="card-body" style="color: black;">
														<h5 class="card-title">{{ parking.nom }}</h5>
														<div class="mt-1 mb-0 text-muted small">
															<span>Address:
																{{ parking.adresse }}</span>
														</div>
														<div class="mb-2 text-muted small">
															<span>Capacity:
																{{ parking.capacite }}</span>
														</div>
													</div>
												</div>
												<div class="col-md-4 border-sm-start-none border-start" style="margin-left: auto;">
													<div class="card-body">
														<h6 class="text-success">Distance to Parking:</h6>
														{% if distances[parking.nom] < 1 %}
															<h6 class="text-success mt-1">{{ distances[parking.nom] * 100 }}
															m</h6>
														{% else %}
														<h6 class="text-success mt-1">{{ distances[parking.nom] }}
															Km</h6>
														{% endif %}
														<div class="d-flex flex-column mt-2">
															<input type="hidden" id="parking_id" value="{{ parking.id }}" name="{{ field_name(form.parking) }}">
															<button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ parking.id }}" aria-expanded="false" aria-controls="collapse{{ parking.id }}">
																Select
															</button>
														</div>
													</div>
												</div>
												<div class="collapse" id="collapse{{ parking.id }}" style="">
													<div class="card card-body rounded-0" style="border-top: 3px solid rgb(222, 226, 230); border-bottom: 0px; border-left: 0px; border-right: 0px;">
														<span style="color: black;">Available Places:</span>
														<select type="choice" class="form-select mt-1" id="place_id" name="{{ field_name(form.place) }}">
														{% set price = 0 %}
														{% set c = "Not Covered" %}
															{% for place in places %}
																{% if parking.id == place.parking.id %}
																{% if place.type == "Car" and place.couverture == "Oui" %}
																		{% set price = 10 %}
																		{% set c = "Covered" %}
																	{% elseif place.type == "Car" and place.couverture == "Non" %}
																		{% set price = 8 %}
																	{% elseif place.type == "Motorcycle" and place.couverture == "Oui" %}
																		{% set price = 8 %}
																		{% set c = "Covered" %}
																	{% elseif place.type == "Motorcycle" and place.couverture == "Non" %}
																		{% set price = 6 %}
																	{% elseif place.type == "Bike" and place.couverture == "Oui" %}
																		{% set price = 6 %}
																		{% set c = "Covered" %}
																	{% elseif place.type == "Bike" and place.couverture == "Non" %}
																		{% set price = 4 %}
																	{% elseif place.type == "Truck" and place.couverture == "Oui" %}
																		{% set price = 12 %}
																		{% set c = "Covered" %}
																	{% else %}
																		{% set price = 10 %}
																	{% endif %}
																	{% if place.type == type %}
																		<option value="{{ place.id }}">Place {{ place.id }} - {{ c }} / {{ ((difference * price) / 3600)|round(2) }} Dh</option>
																	{% endif %}
																	
																{% endif %}
															{% endfor %}
															<input type="hidden" id="montant" value="{{ ((difference * price) / 3600)|round(2) }}" name="montant">
														</select>
														<div class="d-flex justify-content-lg-end">
														<button class="btn btn-primary mt-3 col-md-3" type="submit">Book</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endif %}
{% endif %}
							{% endfor %}
							
							{{ form_end(form) }}
						{% endif %}
					</div>
				</div>
			</div>
		</section>

	{% endblock %}
