{% extends 'base.html.twig' %}

{% block title %}Réservation index{% endblock %}

{% block body %}
    <h1>Réservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_réservation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for r_servation in r_servations %}
            <tr>
                <td>{{ r_servation.id }}</td>
                <td>{{ r_servation.dateRéservation ? r_servation.dateRéservation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_r_servation_show', {'id': r_servation.id}) }}">show</a>
                    <a href="{{ path('app_r_servation_edit', {'id': r_servation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_r_servation_new') }}">Create new</a>
{% endblock %}
